[Unit]
Description=PiFan CPU Temperature Monitor Service
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/pifan
ExecStart=/usr/bin/python3 /home/pi/pifan/cpu_temp.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 