[Unit]
Description=PiFan CPU Temperature Monitor Service
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/xcapt/repos/pifan
ExecStart=/usr/bin/python3 /home/xcapt/repos/pifan/cpu_temp.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 